/* =============== COMPOSANTS LAYOUT =============== */
.layout__container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

/* =============== COMPOSANT INDEX =============== */

/* ---------- SECTION HERO ---------- */
.hero {
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    var(--pastel-peach),
    var(--pastel-purple),
    var(--pastel-blue)
  );
  padding-top: 6rem /* 96px */;
  padding-bottom: 5rem /* 80px */;
  text-align: center;
  color: var(--lvl-0);
  --tw-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.hero__title {
  margin-bottom: 1.5rem /* 24px */;
  font-family: var(--font-title);
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 700;
}

.hero__subtitle {
  margin-bottom: 1.5rem /* 24px */;
  font-family: var(--font-title);
  font-size: 3rem /* 48px */;
  line-height: 1;
  font-weight: 600;
}

.hero__description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem /* 32px */;
  text-wrap: balance;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  font-family: var(--font-texte);
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  line-height: 1.625;
}

.hero__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem /* 16px */;
  font-family: var(--font-tech);
}

.hero__btn-link {
  width: 14rem /* 224px */;
  border-radius: 9999px;
  border: 1px solid var(--lvl-2);
  background-color: var(--lvl-0);
  --tw-bg-opacity: 1;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
  font-weight: 700;
  color: var(--pastel-blue);
  --tw-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored:
    0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hero__btn-link:hover {
  border-color: var(--pastel-blue);
}

/* ---------- SECTION POLLS ---------- */

.polls {
  width: 100%;
  max-width: 64rem /* 1024px */;
  scroll-margin-top: 5rem /* 80px */;
  padding: 5rem /* 80px */ 1rem /* 16px */ 2.5rem /* 40px */ 1rem /* 16px */;
}

.polls__title {
  margin-bottom: 2rem /* 32px */;
  border-radius: 9999px;
  border: 1px solid var(--lvl-2);
  background-color: var(--lvl-1);
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
  color: var(--lvl-4);
}

.polls__container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem /* 24px */;
}

@media (min-width: 768px) {
  .polls__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg:grid-cols-3 (Desktop) */
@media (min-width: 1024px) {
  .polls__container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.polls__card {
  display: flex;
  height: 100%;
}

/* ---------- SECTION ABOUT-ME ---------- */

.about-me {
  width: 100%;
  max-width: 64rem /* 1024px */;
  scroll-margin-top: 5rem /* 80px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-bottom: 5rem /* 80px */;
  padding-top: 2.5rem /* 40px */;
}

.about-me__title {
  margin-bottom: 2rem /* 32px */;
  border-radius: 9999px;
  border: 1px solid var(--lvl-2);
  background-color: var(--lvl-1);
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  text-align: center;
  font-family: var(--font-title);
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  font-weight: 700;
  color: var(--lvl-4);
}

.about-me__description {
  margin-left: auto;
  margin-right: auto;
  text-wrap: balance;
  border-radius: 0.75rem /* 12px */;
  border: 1px solid var(--lvl-2);
  background-color: var(--lvl-1);
  padding: 1rem; /* 16px */
  text-align: center;
  font-family: var(--font-texte);
  font-size: 1.125rem /* 18px */;
  line-height: 1.625;
  color: var(--lvl-4);
}

.about-me__texte {
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}
